
  
  p {
    margin: 0px;
    z-index: 1;
    font-size: x-large;
  }
  h1 {
    margin: 3%;
    font-family: "Fredoka One";
    font-weight: normal;
    font-size: 48px;
    color: #00bebc;
  }
  h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
  }
  h3 {
   margin: -1vw;
    font-family: "Fredoka One";
    font-weight: normal;
    font-size: xxx-large;
    color: #f0f0f0;
  }
  a {
    color: #00bebc;
  }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  background-color: white;

}
#image{

}

.topnav {
  z-index: 1;
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: rgb(156, 156, 156);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
  font-family: "Fredoka One";
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #00bebc;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #00bebc;
  color: white;
}

.slider {
  height: 80%;
  width: 100%;
  z-index: -1;
}

.row {
  width: 100%;
  background-color: white;
  text-align: center;
  z-index: 1;
  position: relative;
  margin-top: -2%;
  margin-bottom: -8%;
}

.block {
  display: inline-block;
  width: 430px;
  margin-left: -1%;
  height: 10%;
  text-align: center;
  margin-top: -5%;
  margin-bottom: 9%;
  vertical-align: top;
}


.ingressitekstit {
  margin-top: -10%;
  text-align: center;
  font-family: "Fredoka One";
  font-weight: normal;
  font-size: 30px;
  position: relative;

  text-align: center;
  color: #00bebc;
}
.selitetekstit {
  width: 200px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: x-large;
  position: relative;
  top: -255%;
  text-align: center;
}
.taustakivet {
  position: relative;
  width: 100%;
  margin-top: -5%;
}
.etuikoni {
  transform-origin: 50% 50% 0px;
  width: 300px;
  height: 280px;
  text-align: center;
  vertical-align: 0%;
  position: relative;
  margin-top: -39%;
  
}

.maincontentrow {
  z-index: 3;
  margin-top: 50px;
  width: 100%;
  height: auto;
  background-color: white;
  text-align: center;
  z-index: 1;
  position: relative;
  background-color:#00bebc;
}
.mainblock {
  display: inline-block;
  width: 430px;
  text-align: center;
  vertical-align: top;
  padding: 20px;
}

.maincontent {
  width: 90%;
  text-align: center;
  vertical-align: top;
  margin: auto;
}
.maintext {
  padding-bottom: 2%;
  padding-top: 2%;
  width: 100%;
  font-size: 3vh;
  color: rgb(234, 243, 243);
  font-family: "Fredoka One";
  

}
.bottomrow{
  margin: auto;
  text-align: center;
}
.maincontentimage {
 
  width: 70%;
  height: 80%;
  margin: auto;
  margin-top: -5%;
  margin-bottom: 10%;
  text-align: center;
  position: relative;
}
.ambassadorlink {
  margin-bottom: 10%;
  margin-top: 3%;
  font-size: 4vh;
  position: relative;
  width: 100%;
  height: fit-content;
  font-family: "Fredoka One";
  background-color:#ffffff;
}


.footer {
  padding-top: 50px;
  display: inline-block;
  background-color: #cdc5efff;
  width: 100%;
  height: 50%;
  text-align: center;
  padding-bottom: 5vw;
}
.someicons{
  height: 100px;
  margin: 13px;
  
  
}

.cookie-banner {
  position: fixed;
  z-index: 10;
  bottom: 40px;
  left: 10%;
  right: 10%;
  width: 80%;
  padding: 5px 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  

  justify-content: space-between;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  
}
.close {
  height: 20px;
  background-color: #777;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.gwd-div-2b06 {
  position: absolute;
  background-image: none;
  background-color: rgb(0, 190, 188);
  height: 100%;
  width: 100%;
}
#herocontainer {
  /* border: 1px solid red; */
  height: 200vh;
  width: 100%;
}

#animated {
  /* width: 100px;
  height: 100px;
  position: fixed; */
  /* opacity: 0; */
  /* background: rgb(0, 0, 0); */
}

/* oikeaala */
.oikeaala {
  position: absolute;
  transform-origin: 50% 0% 0px;
  bottom:5vw;
  /* top: 60%; */
  display: block;
  right: 0%;
  transform-style: preserve-3d;
  width: 80%;
  /* transform: translate3d(0px, 278px, 0px); */
}
/* vasenala */
.vasenala {
  position: absolute;
  /* transform-origin: 50% 0% 0px; */
  display: block;
  left: 0px;
  bottom:5vw;
  /* top: 65%; */
  transform-style: preserve-3d;
  width: 65%;
  /* transform: translate3d(0px, 287px, 0px); */
}
.ylaoksat {
  position: absolute;
  /* transform-origin: 50% 50% 0px; */
  /* top: -10px; */
  width: 100%;
  left: 0px;
  transform-style: preserve-3d;
  transform: translate3d(0px, -603px, 0px);
}
.getstarted {
  position: absolute;
  transform-origin: 50% 50% 0px;
  left: 0%;
  bottom: 0%;
  width: 20%;
  transform-style: preserve-3d;
  transform: translate3d(0px, 350px, 0px);
}
.gwd-img-1rky {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 30%;
  transform-style: preserve-3d;
  transform: translate3d(0px, 400px, 0px);
}
/* otsikko ja nappi alue */
.otsikko {


  left: 50%;
  
  z-index: 1;
}


/* otsikkoteksti */
.gwd-div-1dn6 {
  position: relative;
  text-align: center;
  font-size: 400%;
  width: 70vw;
  color: rgb(234, 243, 243);
  font-family: "Fredoka One";
}

.MainButtons{
  top: 25%;
  z-index: 2;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background-position: center;
}

.teacherbtn {
  z-index: 2;
  padding: 17px;
  text-align: center;
  margin: 22px auto;
  width: 24vw;
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: #cdc5efff;
  border-radius: 3px;
  box-shadow: 5px 5px 0 0 rgb(135, 130, 158);
  display: block;
  font-family: "Fredoka One";
  font-size: xx-large;
}
.teacherbtn:hover {
  background-color: rgb(135, 130, 158);
  box-shadow: 3px 3px 0 0 #cdc5efff;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 0.5s;
}
.techericon{
  height: 2.2vw;
  margin: auto;
  position: relative;
  top: 0.5vw;

}

.playbtn {
  z-index: 2;
  padding: 17px;
  text-align: center;
  margin: auto;
  position: relative;
  width: 24vw;
  color: rgb(26, 26, 26);
  text-decoration: none;
  background-color: rgb(205, 255, 3);
  border-radius: 3px;
  box-shadow: 5px 5px 0 0 rgb(135, 130, 158);
  display: block;
  font-family: "Fredoka One";
  font-size: xx-large;
}
.playbtn:hover {
  background-color: rgb(96, 122, 64);
  box-shadow: 3px 3px 0 0 #cdc5efff;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 0.5s;
}




/* logo */
.gwd-img-y4by {
  display: block;
  position: absolute;
  transform-origin: 50% 50% 0px;
  width: 15vw;
  left: 5%;
  top: 5%;
}
.gwd-div-1ykc {
  background-image: none;
  background-color: transparent;
  top: 84%;
  left: 0%;
  position: absolute;
  width: 100%;
  text-align: center;
}

/* .getstartedbtn {
  color: rgb(46, 213, 213);
  background-color: rgb(46, 213, 213);
  height: 0%;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 0%;
} */




/* iframe popup */
a.popup-link {
  z-index: 2;
  padding: 17px 0;
  text-align: center;
  margin: 0% auto;
  position: relative;
  width: 420px;
  color: #fff;
  text-decoration: none;
  background-color: #cdc5efff;
  border-radius: 3px;
  box-shadow: 5px 5px 0 0 rgb(135, 130, 158);
  display: block;
  font-family: "Fredoka One";
  font-size: xx-large;
}
a.popup-link:hover {
  background-color: rgb(135, 130, 158);
  box-shadow: 3px 3px 0 0 #cdc5efff;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 0.5s;
}
#popup {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  margin-top: -50px;
}
#popup:target {
  visibility: visible;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 99999999999;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
@media (min-width: 768px) {
  .popup-container {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .popup-container {
    width: 100%;
  }
}
.popup-container {
  position: relative;
  margin: 7% auto;
  padding: 4vw 50px;
  background-color: rgb(46, 213, 213);
  color: #fff;
  border-radius: 25px;
}
a.popup-close {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: #fff;
  padding: 7px 10px;
  margin: 10px;
  font-size: 30px;
  text-decoration: none;
  line-height: 1;
  color: rgb(46, 213, 213);;
  font-family: "Fredoka One";
}

@keyframes gwd-gen-eypogwdanimation_gwd-keyframes {
  0% {
    transform: translate3d(0px, -603px, 0px);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: linear;
  }
}
#TopSlider .gwd-gen-eypogwdanimation {
  animation: 2s linear 0s 1 normal forwards running
    gwd-gen-eypogwdanimation_gwd-keyframes;
}
@keyframes gwd-gen-ss2xgwdanimation_gwd-keyframes {
  0% {
    transform: translate3d(0px, 400px, 0px);
    animation-timing-function: linear;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: linear;
  }
}
#TopSlider .gwd-gen-ss2xgwdanimation {
  animation: 2s linear 0s 1 normal forwards running
    gwd-gen-ss2xgwdanimation_gwd-keyframes;
}
@keyframes gwd-gen-njmvgwdanimation_gwd-keyframes {
  0% {
    transform: translate3d(0px, 350px, 0px);
    animation-timing-function: linear;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: linear;
  }
}
#TopSlider .gwd-gen-njmvgwdanimation {
  animation: 2s linear 0s 1 normal forwards running
    gwd-gen-njmvgwdanimation_gwd-keyframes;
}
@keyframes gwd-gen-17gigwdanimation_gwd-keyframes {
  0% {
    transform: translate3d(0px, 487px, 0px);
    animation-timing-function: linear;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: linear;
  }
}
#TopSlider .gwd-gen-17gigwdanimation {
  animation: 2.4s linear 0s 1 normal forwards running
    gwd-gen-17gigwdanimation_gwd-keyframes;
}
@keyframes gwd-gen-14jzgwdanimation_gwd-keyframes {
  0% {
    transform: translate3d(0px, 278px, 0px);
    animation-timing-function: linear;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: linear;
  }
}
#TopSlider .gwd-gen-14jzgwdanimation {
  animation: 2s linear 0s 1 normal forwards running
    gwd-gen-14jzgwdanimation_gwd-keyframes;
}
.gwd-rect-1swd {
  border-style: solid;
  box-sizing: border-box;
  display: block;
  left: 0%;
  position: absolute;
  transform-origin: 50% 50% 0px;
  width: 100%;
  border-width: 0px;
  background-image: none;
  background-color: rgb(255, 255, 255);
  height: 97.78%;
  top: 0%;
}

.gwd-div-s7ng {
  position: absolute;
  left: -243px;
  top: 127px;
  width: 473.333px;
  height: 74.6667px;
  font-size: 38px;
  text-align: center;
  color: rgb(234, 243, 243);
  font-family: "Arial";
  font-style: bold;
}
.gwd-img-xk9p {
  position: absolute;
  left: 21.3333px;
  top: 884.351px;
  width: 1920px;
  height: 500px;
}
.gwd-span-1urp {
  color: rgb(47, 179, 179);
  font-size: 33px;
  height: 17.98%;
  left: 5.86%;
  text-align: center;
  top: 13.91%;
  transform: matrix(0.994324, 0.10639, -0.10639, 0.994324, 93, -14);
  transform-style: preserve-3d;
  width: 24.29%;
}
.gwd-img-ppxq {
  position: absolute;
  left: 0px;
  width: 398px;
  height: 184px;
  transform-origin: 50% 50% 0px;
  top: 0px;
}
.gwd-div-1qag {
  position: relative;
  display: inline-block;
  margin: 15px;
  vertical-align: top;
  white-space: nowrap;
  padding: 10px;
  width: 700px;
}
.gwd-div-19ih {
  left: 0%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
}
.gwd-div-9vvx {
  top: -5.03%;
  overflow: visible;
}
.gwd-div-83po {
  top: 0%;
  border-style: none;
  overflow: visible;
}
.gwd-img-yszj {
  top: -24px;
}
.gwd-img-9gv7 {
  transform-style: preserve-3d;
  transform: translate3d(-18px, -24px, 0px) rotateZ(-16.3392deg);
}
.gwd-img-1q98 {
  transform-style: preserve-3d;
  transform: translate3d(34px, -18px, 0px) rotateZ(22.4078deg);
}
.gwd-span-1v27 {
  width: 200px;
  font-family: "Fredoka One";
  font-weight: normal;
  font-size: 24px;
  transform: translate3d(-20px, 12px, 0px) rotateZ(-33.6652deg);
}
.gwd-span-u7gl {
  font-weight: bold;
}
.gwd-span-1j67 {
  font-weight: bold;
}
.gwd-div-1bno {
  left: 0px;
  top: 18px;
}

.gwd-img-1osz {
  transform-origin: 50% 50% 0px;
  width: 139px;
  height: 124px;
  left: 207px;
  top: -15px;
}
.gwd-span-qkcm {
  font-size: 22px;
  transform: translate3d(94px, 5px, 0px) rotateZ(6.10726deg);
}
.gwd-div-sm0s {
  left: -4.81%;
}
.gwd-img-1cye {
  position: absolute;
  transform-origin: 50% 50% 0px;
  width: 179px;
  height: 114px;
  left: 199px;
  top: 23px;
}
.gwd-div-1prc {
  left: -6.56%;
}
.gwd-span-dj36 {
  transform: translate3d(74px, 0px, 0px) rotateZ(6.10726deg);
}
.gwd-div-wzw1 {
  overflow: visible;
}
